.loading-text {
  display: inline-block;
  font-size: 2rem;
  animation: move 2s infinite linear;
  position: relative;
}

@keyframes move {
  0% {
    left: 100px;
  }
  50% {
    left: 0; /* 원하는 이동 거리로 설정 */
  }
  100% {
    left: 100px;
  }
}
