/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/(home)/loading.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.loading-text {
  display: inline-block;
  font-size: 2rem;
  animation: move 2s infinite linear;
  position: relative;
}

@keyframes move {
  0% {
    left: 100px;
  }
  50% {
    left: 0; /* 원하는 이동 거리로 설정 */
  }
  100% {
    left: 100px;
  }
}

